/* Variables y bases */

:root {
    --fuente-titulos: 'Montserrat', sans-serif;
    --peso-titulos: 700;
    --tamano-titulos: 2.5rem;
    --peso-subtitulos: 400;
    --tamano-subtitulos: 1.5rem;
    --fuente-texto: 'Inter', sans-serif;
    --peso-texto: 300;
    --tamano-texto: 1rem;
    --violeta: #A556FF;
    --gris: #2D2D32;
    --plateado: #C0C0C8;
    --negro-carbon: #121214;
    --blanco: #FFFFFF;
    --negro: #000000;
    --azul-link: #007BFF;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/fondo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    transform: scale(1.1);
    z-index: -1;
}

body h1 {
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos);
    font-size: var(--tamano-titulos);
    color: var(--blanco);
    margin-top: 250px;
    margin-bottom: 50px;
}

body h2 {
    font-family: var(--fuente-texto);
    font-weight: var(--peso-subtitulos);
    font-size: var(--tamano-subtitulos)
}

body h3 {
    font-family: var(--fuente-texto);
    font-weight: var(--peso-texto);
    font-size: var(--tamano-texto);
    color: var(--blanco);
}

body p {
    font-family: var(--fuente-texto);
    font-weight: var(--peso-texto);
    font-size: var(--tamano-texto);
    text-align: justify;
}

body a {
    text-decoration: none;
}

/* Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--plateado);
    transition: 0.3s;
    z-index: 1000;
    box-sizing: border-box;
}

header .logo, .menu-toggle, .nav {
    padding: 40px 5%;
}

header.minimized .logo, .menu-toggle .nav {
    padding: 15px 5%;
}

header .logo {
    height: 80px;
    transition: 0.3s;
}

header.minimized .logo {
    height: 50px;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav h2 {
    margin: 0;
}

header nav a {
    font-family: var(--fuente-texto);
    font-weight: var(--peso-texto);
    font-size: var(--tamano-texto);
    color: var(--negro);
    text-decoration: none;
}

header .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

header .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: var(--negro);
}

@media (max-width: 768px) {
    header .menu-toggle {
        display: flex;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 20px;
        text-align: center;
    }

    header nav a {
        color: var(--blanco);
    }

    header nav.active {
        display: flex;
    }
}

header::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 120%;
    height: 3px;
    background: linear-gradient(to right, var(--violeta), var(--gris));
}

/* Body */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section {
    margin: 20px;
    width: 65%;
    background-color: var(--plateado);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

main section .logo-body {
    width: 50%;
    height: auto;
}

main section .juego {
    width: 35%;
    height: auto;
}

main section p {
    width: 50%;
}

@media (max-width: 768px) {
    main section {
        width: 98%;
    }

    main section .logo-body {
        width: 90%;
    }

    main section .juego {
        width: 75%;
    }

    main section p {
        width: 85%;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.btn {
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blanco);
    font-family: var(--fuente-texto);
    font-weight: var(--peso-texto);
    background: var(--negro-carbon);
    transition: 0.3s;
    display: inline-block;
}

.btn svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.btn rect {
    x: 0;
    y: 0;
    width: 100%;
    height: 100%;
    fill: none;
    stroke: var(--blanco);
    stroke-width: 2;
    stroke-dasharray: 460, 0;
    transition: 0.35s linear;
}

.btn:hover {
    background: rgba(0, 0, 0, 0);
    font-weight: var(--peso-titulos);
    color: var(--negro);
}

.btn:hover rect {
    stroke-width: 5;
    stroke-dasharray: 40, 310;
    stroke-dashoffset: 48;
    transition: 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Footer */

footer {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: var(--gris);
    color: var(--blanco);
}

footer section {
    padding: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.logo-footer {
    width: 20%;
    background-color: var(--blanco);
}

.logo-footer img {
    width: 100%;
    height: auto;
}

.links, .contacts {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links h2::after, .contacts h2::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--violeta);
    margin-top: 10px;
}

.contacts img {
    padding: 10px;
    width: 40px;
    height: auto;
}