/* Variables y bases */

:root {
    --fuente-titulos: 'Montserrat', sans-serif;
    --peso-titulos: 700;
    --tamano-titulos: 2.5rem;
    --fuente-subtitulos: 'Inter', sans-serif;
    --peso-subtitulos: 400;
    --tamano-subtitulos: 1.5rem;
    --fuente-texto: 'Inter', sans-serif;
    --peso-texto: 300;
    --tamano-texto: 1rem;
    --azul-marino: #001B2E;
    --cian: #00A699;
    --oro: #EAC435;
    --blanco: #FFFFFF;
    --negro: #000000;
    --azul-link: #007BFF;
}

body {
    color: var(--negro);
    background-color: var(--blanco);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 2000px;
}

body h1 {
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos);
    font-size: var(--tamano-titulos)
}

body h2 {
    font-family: var(--fuente-subtitulos);
    font-weight: var(--peso-subtitulos);
    font-size: var(--tamano-subtitulos)
}

body p {
    font-family: var(--fuente-titulos);
    font-weight: var(--peso-titulos);
    font-size: var(--tamano-titulos);
}

body a {
    text-decoration: none;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 5%;
    background-color: var(--cian);
    transition: 0.3s;
    z-index: 1000;
    box-sizing: border-box;
}

header.minimized {
    padding: 15px 5%;
}

header .logo {
    height: 80px;
    transition: 0.3s;
}

header.minimized .logo {
    height: 50px;
}

header nav {
    display: flex;
    gap: 20px;
}

header nav h2 {
    margin: 0;
}

header nav a {
    font-family: var(--fuente-texto);
    font-weight: var(--peso-texto);
    font-size: var(--tamano-texto);
    color: var(--blanco);
    text-decoration: none;
}

header .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

header .menu-toggle span {
    width: 30px;
    height: 3px;
    background-color: var(--blanco);
}

@media (max-width: 768px) {
    header .menu-toggle {
        display: flex;
    }

    header nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 27, 46, 0.9);
        padding: 20px;
        text-align: center;
    }

    header nav.active {
        display: flex;
    }
}